# Virtual environment
.venv/
__pycache__/

# Env files
.env
backend/.env

# Model folders
backend/models/
models/

# Checkpoints
*.safetensors
*.bin
*.pt
*.pth

# Huggingface cache
.cache/huggingface/
